#vscode folder
.vscode/
#node_modules
node_modules/
#glb files
public/mac-draco.glb
public/plane-transformed.glb
public/screen-transformed.glb
public/smartphone-transformed.glb
public/Checklist-Objetos-3D.txt
public/arreglar.txt
src/components/Banner.jsx
src/components/Contact.jsx
src/components/Cube.jsx